models/pretrained_SA_model/
!models/pretrained_SA_model/*.dvc
models/pretrained_FA_model/
!models/pretrained_FA_model/*.dvc
models/pretrained_TA_model/
!models/pretrained_TA_model/*.dvc
venv/
.idea/
__pycache__/
models/data/simfin/
credentials.*
.env
